.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(214, 228, 234);
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.innercontainer {
  padding: 125px;
  flex: 1;
  height: auto;
  width: 100vh;
  position: relative;
}