.container {
  margin-top: 40px;
  height: 100%;
  background-color: rgb(172, 182, 195);
  border-radius: 10px;
  padding: 20px;
}
.layout{
  display: flex;
  flex-direction: column;
}
.container1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(8, 56, 76);
}
.container2 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.container5 {
  display: flex;
  flex-direction: row;
}
.text {
  width: 200px;
}
.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container3 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.btn {
  display: flex;
  flex-direction: row;
}
.box{
  display: flex;
  justify-content: space-between;
}
.subscriptionbtn{
 
}
.cancelbtn{
  
}
.demobtn{

}
@media only screen and (max-width: 1035px) {
  .layout{
    display: flex;
    flex-direction: row;
  }
  .container2 {
    flex-direction: column;
  }
  .container5 {
    flex-direction: column;
  }
  .container {
    margin-top: 40px;
    height: 100%;
    background-color: rgb(172, 182, 195);
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }
  .cancelbtn{
    position: absolute;
    top: 108px;
    right: -50px;
    z-index: 1;
  }
  .subscriptionbtn{
    position: absolute;
    top: 108px;
    right: 12px;
    z-index: 1;
  }
  .optionbtn{
    z-index: 1;
  }
}