.outercontainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(56, 136, 168);
  width: 100%;
  height: 125px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
.text {
  font-size: 50px;
  font-style: oblique;
  padding: 30px;
  flex: 15;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
.container1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.navtext {
  margin-right: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navtext:hover,
.navtext:focus,
.navtext:active {
  color: rgb(8, 56, 76);
}
.container2 {
  color: rgb(56, 136, 168);
  height: 70px;
  width: 70px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
}
