.container{
    width: 400px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0px 1px 18px 1px rgb(195, 173, 173);
}
.title{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    background-color:rgb(245, 248, 245);
    border: none;
    box-shadow: 0px 1px 18px 1px rgb(226, 226, 235);
}
.signup{
    margin-top: 15px;
    margin-bottom: 35px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(56, 136, 168);
    border:rgb(56, 136, 168); ;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.account{
    font-size: small;
    display: flex;
    justify-content: center;
}
.loginbtn{
    font-weight: bold;
    color: rgb(56, 136, 168);
    margin-left: 5px;
}
.return{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    padding: 4px;
    font-weight: bold;
    color: rgb(56, 136, 168);
}
.error{
    color: red;
}