.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
.gifimage {
    width: 200px;
    height: 200px;
  }
.images{
    height: 250px;
    border-radius: 50%;
}
.contentbox{
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 280px;
}
.table{
    width: 100%;
}
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
  }
   
  tr:hover {
    background-color: #ddd;
  }
  tr:nth-child(even):hover{
    background-color: #ddd;
}
  tr:nth-child(even){
    background-color: #f2f2f2;
}
.tablecontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.paginationstyle{
  /* display: flex;
  justify-content: flex-end;
  margin-top: 40px; */
  /* position: fixed;
  top: 660px;
  right: 90px; */
  position: absolute;
  top: 280px;
  right: 30px;
}