.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
.gifimage {
    width: 200px;
    height: 200px;
  }
.images{
    height: 250px;
    border-radius: 50%;
}
.contentbox{
    padding-left: 20px;
    width: 100%;
}
.table{
    width: 100%;
}
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
  }
   
  tr:hover {
    background-color: #ddd;
  }
  tr:nth-child(even):hover{
    background-color: #ddd;
}
  tr:nth-child(even){
    background-color: #f2f2f2;
}